Repository titom73/ansible-avd, changes with the labels that .github/labeler.yml gives for each.
All labels: role: build_output_folders, role: cvp_configlet_upload, role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: eos_l3ls_evpn, role: eos_validate_state, role: dhcp_provisioner, filter: natural_sort, filter: is_in_filter, filter: list_compress, filter: defined, module: configlet_build_config, module: inventory_to_container, type: Python filters, type: Ansible roles, type: documentation, type: code quality, type: dependencies, state: CI Updated, state: Documentation role Updated

Add initial support for traffic-policy feature - #578
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/traffic-policies.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen

Update data model to match EOS tree
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/traffic-policies.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/traffic-policies.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/traffic-policies.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

Update role documentation for traffic-policies options
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

Add support for TCP flags & code enhancement with join
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/traffic-policies.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen

Add support for field-sets
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/traffic-policies.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen

Update role documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

Update CI artifacts
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/traffic-policies.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/traffic-policies.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies.yml
Labels: state: CI Updated

Fix incorrect CLI for TCP flags + EOS validation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/traffic-policies.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/traffic-policies.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen, state: CI Updated

Fix incorrect CLI for TCP flags + EOS validation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-rtc.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/traffic-policies.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen, state: CI Updated

Add support for TTL field in match section
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated

Add support for ICMP Message type in match section
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated

Add support for Neighbors BGP and Default section
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated

Refactor documentation template
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/traffic-policies.j2
Labels: role: eos_cli_config_gen

Update documentation template
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/traffic-policies.j2
Labels: role: eos_cli_config_gen

Display GITHUB Ref from CI
  .github/workflows/pr_notification.yml
Labels: type: code quality

Display GITHUB Ref from CI
  .github/workflows/pr_notification.yml
Labels: type: code quality

Add action for Google notification
  .github/workflows/pr_notification.yml
Labels: type: code quality

Add action for Google notification
  .github/workflows/pr_notification.yml
Labels: type: code quality

Add action for Google notification with custom settings
  .github/workflows/pr_notification.yml
Labels: type: code quality

Fix rendering for traffic Policies documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/traffic-policies.j2
Labels: role: eos_cli_config_gen

Fix Traffic Policies CLI rendering
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen

Fix CLI rendering for event-handler
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handler.j2
Labels: role: eos_cli_config_gen

Implement Custom TCAM profile support #620
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/tcam-profile.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated

Implement AVD defined test plugin
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen

Implement type=l3dot1q for routed subinterfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen

Fix markdown rendering for ip-routing
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-routing.j2
Labels: role: eos_cli_config_gen

Update README documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

Fix MD linting for templates
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen

Update CI artifacts
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ptp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis.md
Labels: state: CI Updated

--wip-- [skip ci]
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/.travis.yml
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/README.md
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/handlers/main.yml
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/meta/main.yml
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/tasks/devices-present.yml
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/tasks/fabric-present.yml
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/templates/netbox.yml.j2
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/templates/netbox_device.yml.j2
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/tests/inventory
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/tests/test.yml
  ansible_collections/arista/avd/roles/eos_netbox_provisioner/vars/main.yml
Labels: state: Documentation role Updated

Fix wrong path to Traffic-policy options
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen

Add support for OSPF summary as per #634
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen

Update CI artifacts
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
Labels: state: CI Updated

Update cli_config_gen readme for ospf summary #634
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

Fix typo in CLI rendering template #634
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen

Refactor eos-cli-config-gen vxlan-interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vxlan-interface.j2
Labels: role: eos_cli_config_gen

.github/labeler.yml:

"role: build_output_folders":
  - ansible_collections/arista/avd/roles/build_output_folders/*
  - ansible_collections/arista/avd/roles/build_output_folders/**/*

"role: cvp_configlet_upload":
  - ansible_collections/arista/avd/roles/cvp_configlet_upload/*
  - ansible_collections/arista/avd/roles/cvp_configlet_upload/**/*

"role: eos_cli_config_gen":
  - ansible_collections/arista/avd/roles/eos_cli_config_gen/*
  - ansible_collections/arista/avd/roles/eos_cli_config_gen/**/*

"role: eos_config_deploy_cvp":
  - ansible_collections/arista/avd/roles/eos_config_deploy_cvp/*
  - ansible_collections/arista/avd/roles/eos_config_deploy_cvp/**/*

"role: eos_config_deploy_eapi":
  - ansible_collections/arista/avd/roles/eos_config_deploy_eapi/*
  - ansible_collections/arista/avd/roles/eos_config_deploy_eapi/**/*

"role: eos_l3ls_evpn":
  - ansible_collections/arista/avd/roles/eos_l3ls_evpn/*
  - ansible_collections/arista/avd/roles/eos_l3ls_evpn/**/*

"role: eos_validate_state":
  - ansible_collections/arista/avd/roles/eos_validate_state/*
  - ansible_collections/arista/avd/roles/eos_validate_state/**/*

"role: dhcp_provisioner":
  - ansible_collections/arista/avd/roles/dhcp_provisioner/*
  - ansible_collections/arista/avd/roles/dhcp_provisioner/**/*

"filter: natural_sort":
  - ansible_collections/arista/avd/plugins/filter/natural_sort.py

"filter: is_in_filter":
  - ansible_collections/arista/avd/plugins/filter/is_in_filter.py

"filter: list_compress":
  - ansible_collections/arista/avd/plugins/filter/list_compress.py

"filter: defined":
  - ansible_collections/arista/avd/plugins/filter/defined.py

"module: configlet_build_config":
  - ansible_collections/arista/avd/plugins/modules/configlet_build_config.py

"module: inventory_to_container":
  - ansible_collections/arista/avd/plugins/modules/inventory_to_container.py

"type: Python filters":
  - ansible_collections/arista/avd/plugins/filter/*.py

"type: Ansible roles":
  - ansible_collections/arista/avd/plugins/roles/**/*.yml
  - ansible_collections/arista/avd/plugins/roles/**/*.j2

"type: documentation":
  - README.md
  - contributing.md
  - ansible_collections/arista/avd/*.md
  - ansible_collections/arista/avd/docs/*
  - ansible_collections/arista/avd/docs/**/*

"type: code quality":
  - .github/labeler.yml
  - .github/*
  - .github/**/*
  - development/docker-compose.yml
  - development/Makefile

"type: dependencies":
  - development/requirements-dev.txt
  - development/requirements.txt
  - ansible_collections/arista/avd/docs/requirements.txt

"state: CI Updated":
  - ansible_collections/arista/avd/molecule/*
  - ansible_collections/arista/avd/molecule/**/*

"state: Documentation role Updated":
  - 'ansible_collections/arista/avd/roles/**/*.md'
